{% extends "layout/movieLayout.njk" %}

{% block MoviesContent %}
<div>
    <p><strong>Title:</strong> {{ film.title }}</p>
    <p><strong>Description:</strong>{{ film.description }}</p>
    <img src="{{ film.image.url }}" alt="Film image">
</div>
{% endblock %}