<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/src/styles/main.css">
  <title>{{ title }}</title>
</head>
<body>
  {% include "header.njk" %}
  <section class="eachMovie">
    <h1 class="eachMovie__title">{{ title }}</h1>
    <span class="eachMovie__desc">{{ film.intro }}</span>
    <img class="eachMovie__img" src="{{ film.image.url }}" alt="{{ film.title }} image">
    <button class="eachMovie__btn"><a href="/movies">Back</a></button>
  </section>
  {% include "footer.njk" %}
  <script type='module' src='/src/js/main.js'></script>
</body>
</html>
