<!DOCTYPE html>
<html lang='en'>
  {% include "sections/head.njk" %}
  <body>
    {% include "sections/header.njk" %}
    {% block content %}{% endblock %}
    {% include "sections/footer.njk" %}
    <script type='module' src='src/js/main.js'></script>
  </body>
</html>